.header {
  text-align: center;
}

.meow-form {
  margin: 0 auto;
  width: 50%;
}

input,
textarea {
  text-align: center;
}

textarea {
  resize: none;
}

::placeholder {
    text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

::-moz-placeholder {
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}
